// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid-letter {
  padding: 10px;
  margin: 10px;
  background-color: #272D2D;
  color: #FFFBFF;
  font-weight: bolder;
}
